@charset "utf-8";

/* pc해상도일때 적용되는 서식 */

@media screen and (min-width:1200px) {

  header{
    width:100%;height:150px;
    position:absolute;
    z-index:1000;
  }
  #toggle{display:none;}
  header h1{
    width:300px;
    position:absolute;
    top:40px;left:3%;
  }
  header h1 img{width:100%;}
  
  /* 메인메뉴 서식 */
  .gnb{
    position:absolute;
    right:3%;top:40px;
  }
  .gnb > ul{
    display:flex;
  }
  .gnb > ul > li{
    margin:0px 20px;
		position:relative; /* 서브메뉴의 기준 */
		line-height:40px;
  }
  .gnb > ul > li > a{
    font-size:1.2rem;
    color:#fff;
  }

  /* 메인서식 */
  main{
    background: #fff;
  }
  .visual{
    position:relative;
    height:83vh;/* veiwport height */
    overflow:hidden;
  }
  .visual > h2{display:none;}
  .visual > div{
    position:absolute;
    width:100%;
    top:0px;left:0px;
  }
  .visual > div > span{
    font-size:40px;color:#fff;
    text-shadow:0px 0px 4px #ccc;
    font-weight:bold;
    line-height:50px;
    position:absolute;
    top:280px;left:3%;
  }
  .visual > div > img{width:100%;}
  .slide1{z-index:3;}
  .slide2{z-index:2;display:none;}
  .slide3{z-index:1;display:none;}

  /* sns서식 */
  .visual .sns{
    display:flex;
    position:absolute;
    top:420px;left:3%;
		z-index: 10;
  }
  .visual .sns > li{
    border:1px solid #fff;
    margin:0px 8px;
    padding:10px 8px 6px 8px;
    text-align:center;
  }
  .visual .sns li .fab{
    color:#fff;font-size:20px;
    width:20px;
  }
  .visual .sns li:hover{background:#fff;}
  .visual .sns li:hover .fab{
    color:#ff8900;
  }
  /* 좌, 우버튼 서식 */
  .visual .s_btn{
    display:flex;
    position:absolute;
    top:70%;left:3%;
    z-index:20;
  }
  .visual .s_btn > li{
    background-color:#f2f2f2;
		padding:12px 6px;
		margin-right:10px;
  }

  /* 콘트롤버튼 서식 */
  .visual .ctrl_btn{
    position:absolute;
    right:1.5%;top:45%;
    z-index:20;
  }
  .visual .ctrl_btn li{
    width:15px;height:15px;
    background:#fff;
    border-radius:50%;
    margin-bottom:10px;
    cursor: pointer;
  }
  .on{
    background:#ca6c01 !important;
  }

  /* 이벤트 슬라이드 서식 */
  .event{
    width: 1200px;
    margin: 0px auto;
    position: relative;
  }
  .event > h2{
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 20px;
  }
  .e_slide{
    border: 1px solid #000;
    display: flex;
    position: relative;
    overflow: hidden;
    width: 1200px;
  }
  .es_wrap{
    display: flex ;
    width: 3600px;
  }
  .es_wrap div{
    width: 1200px;
  }
  .event i.fas{
    border: 5px solid #f00;
    position: absolute;
    top: 150px;
    font-size: 30px;
    padding: 5px 12px;
    border-radius: 50%;
    border: 1px solid #333;
    background: #fff;
  }
  .event > i.fa-angle-left{left: -60px;}
  .event > i.fa-angle-right{right: -60px;}
  .e_slide a{display: flex;}
  .e_slide .e_txt{
    padding: 30px 0px 0px 40px;
  }
  .e_txt span{
    background: #ccc;
    padding: 5px 10px;
  }
  .e_txt h3{
    font-size: 18px;
    line-height: 40px;
  }
  .e_txt p{
    font-size: 16px;
  }

  /* 7. 미에로 화이바 Girl 스토리 */
  .girl_story{
    width: 100%;
    background: #f36f21;
    text-align: center;
    margin: 100px 0px 0px;
    padding: 100px 0px;
  }
  .girl_story h2{
    font-size: 40px;
    color: #ffffff;
  }
  .girl{
    margin: 0px auto;
    width: 1200px;
    display: grid;
    grid-template-rows: 270px 270px 270px;
    padding: 20px;
    grid-gap: 20px;
    grid-template-areas:
      "g01 g03 g04"
      "g02 g03 g05"
      "g06 g07 g08";
  }
  figure {
    overflow: hidden;
  }

  figure:hover figcaption {
    transform: translate(0px, -84px);
  }

  .girl figcaption {
    height: 80px;
    background-color: #111111;
    position: relative;
    transition: 0.5s;
  }

  figcaption h6 {
    font-size: 20px;
    font-weight: bold;
    color: #f36f21;
    padding: 10px 0px 5px 20px;
  }

  figcaption p {
    font-size: 10px;
    color: #ffffff;
    padding: 5px 0px 0px 20px;
  }

  figcaption span {
    border: 1px solid #ffffff;
    font-size: 12px;
    color: #ffffff;
    padding: 5px;
    position: absolute;
    right: 20px;
    bottom: 15px;
  }

  .girl img {
    width: 100%;
  }

  .girl figure:first-child {
    grid-area: g01;
  }

  .girl figure:nth-child(2) {
    grid-area: g02;
  }

  .girl figure:nth-child(3) {
    grid-area: g03;
  }

  .girl figure:nth-child(4) {
    grid-area: g04;
  }

  .girl figure:nth-child(5) {
    grid-area: g05;
  }

  .girl figure:nth-child(6) {
    grid-area: g06;
  }

  .girl figure:nth-child(7) {
    grid-area: g07;
  }

  .girl figure:last-child {
    grid-area: g08;
  }
}